f
<div id="mySidenav" class="sidenav" style="width:450px">
    <button class="btn-lg" class="closebtn" ng-click="closeNav()">&times;</button>
    <span ng-repeat="y in datas" ng-include="'data.html'"></span>
  </div>
