<div class="data-item">
    <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#details"> view
        details</button>
    <div id="details" class="collapse">
        categoryId:{{y.object.categoryId}}</br>dd
        postedById:{{y.object.postedById}}</br>
        postedByType:{{y.object.postedByType}}</br>
        postedAsName:{{y.object.postedAsName}}</br>
    </div>

    <table>
        <tr>
            <td>

                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#commenters"> <i
                        class='far fa-comment-alt'>&nbsp;{{y.object.comments}}</i></button>
                <div id="commenters" class="collapse">
                    <span ng-repeat="y in y.object.commenters">
                        {{y}}</br>
                    </span>
                    
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#share"> <i
                        class='far fa-share-square'>&nbsp;{{y.object.shares}}</i></button>
                <div id="share" class="collapse">
                    {{y.object.shares}}
                </div>
            </td>
            <td>

                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#eye"> <i
                        class="fa fa-eye" aria-hidden="true">&nbsp;{{y.object.seenByCount}}</i> </button>
                <div id="eye" class="collapse">
                    <span ng-repeat="y in y.object.seenByUkid">
                        {{y}}</br>
                    </span>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#heart"> <i
                        class='far fa-heart'>&nbsp;{{y.object.favorites}}</i></button>
                <div id="heart" class="collapse">
                    {{y.object.favorites}}
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse" data-target="#bookmark"> <i
                        class='far fa-bookmark'>&nbsp;{{y.object.savers.length}}</i></button>
                <div id="bookmark" class="collapse">
                    <span ng-repeat="y in y.object.savers">
                        {{y}}</br>
                    </span>
                   
                </div>

            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse"
                    data-target="#pushers">pushers&nbsp;{{y.object.pushers.length}}</button>
                <div id="pushers" class="collapse">
                    <span ng-repeat="y in y.object.pushers">
                        {{y}}</br>
                    </span>
                    
                </div>
            </td>
        </tr>
        </br></br>
        <tr>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse"
                    data-target="#response">responses<br></button>
                <div id="response" class="collapse">
                    {{y.object.responses}}
                </div>

            </td>
            <td>
                <button type="button" class="btn btn-sm btn-info" data-toggle="collapse"
                    data-target="#options">options</button>
                <div id="options" class="collapse">
                    <span ng-repeat="y in y.object.options">

                        id:{{y.id}}&nbsp;name:{{y.name}}</br>

                    </span>
                </div>

            </td>
        </tr>
    </table>
    <!--
boothId:{{y.object.boothId}}<br>
    pushes:{{y.object.pushes}}<br>
category:{{y.object.category}}<br>
     id:{{y.object.id}}<br>
    questionId:{{y.object.questionId}}</br>
            
        answerOptionsEnabled:{{y.object.answerOptionsEnabled}}</br>
        isCompulsory:{{y.object.isCompulsory}}</br>
        isSharedPost:{{y.object.isSharedPost}}</br>
        acknowledgement:{{y.object.acknowledgement}}</br>
        scoreOnlyVisibility:{{y.object.scoreOnlyVisibility}}</br>
        canShare:{{y.object.canShare}}</br>
        canShowQuestionResult:{{y.object.canShowQuestionResult}}</br>
        acceptingResponses:{{y.object.acceptingResponses}}</br>
        isQuiz:{{y.object.isQuiz}}</br>
        isFilteredPost:{{y.object.isFilteredPost}}</br>
        isMultipleQuestion:{{y.object.isMultipleQuestion}}</br>
        pollResponseVisibility:{{y.object.pollResponseVisibility}}</br>
        options:{{y.object.options}}</br>
        systemFeedback:{{y.object.systemFeedback}}</br>
        acknowledged:{{y.object.acknowledged}}</br>
        commented:{{y.object.commented}}</br>-->
    </span>

</div>