<div class="shadow p-3 mb-5 bg-white rounded">
  <span style="float:right;min-width:100%">
    <button type="button" id="{{x.id}}" class="btn btn-sm btn-primary closebtn" ng-click="openNav()"><i
        class='fas fa-list-ul' aria-hidden="true"></i></button>

    <div id="mySidenav" class="sidenav">
      <button class="btn-lg" class="closebtn" ng-click="closeNav()">&times;</button>
      <span ng-repeat="y in popdata" ng-include="'data.html'"></span>
    </div>
    <strong style='font-size:14px;float:left'>{{x.object.boothName}}</strong></br></br>
    <i class='far fa-user' style='font-size:14px;float:left'>&nbsp;&nbsp;&nbsp;{{x.object.postedByName}}</i>
  </span>
  </br></br></br></br>

  <div class="card" style="width:16rem">
    <img class="card-img-top" src="jauger.jpg" alt="Card image cap"></br>
    <div class="icon-flex">
      <button ng-click="a()"> <i class='far fa-heart' style='font-size:24px'>&nbsp;</i></button>
      <button ng-click="comments()"><i class='far fa-comment-alt' style='font-size:24px'>&nbsp;</i></button>
      <button ng-click="a()"><i class='far fa-share-square' style='font-size:24px'>&nbsp;</i></button>
      <button ng-click="a()"><i class='far fa-bookmark' style='font-size:24px'>&nbsp;</i></button>
    </div>
    <div class="card-body">

      <p class="card-text">

        <i class='far fa-calendar-alt' style='font-size:14px'>&nbsp;{{x.object.postedTime}}</i></br>
        <span style="float:left">{{x.object.text}}</span></br>
        <span style="float:left">{{x.object.description}}</span></br>
        <span style="float:left">{{comment}}</span>
      </p>
      
    </div>
  </div>

</div>