<div class="pagination1" >
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li id="previous" class="page-item disabled">
          <button class="page-link" ng-click="previous()">Previous</button>
        </li>
        <li class="page-item"><button value={{iconval+1}} class="page-link" ng-click="ale()">{{iconval+1}}</button></li>
        <li class="page-item"><button value={{iconval+2}} class="page-link" ng-click="ale()">{{iconval+2}}</button></li>
        <li class="page-item"><button value={{iconval+3}} class="page-link" ng-click="ale()">{{iconval+3}}</button></li>
        <li class="page-item"><button value={{iconval+4}} class="page-link" ng-click="ale()">{{iconval+4}}</button></li>
        <li class="page-item"><button value={{iconval+5}} class="page-link" ng-click="ale()">{{iconval+5}}</button></li>
        <li id="next" class="page-item">
          <button  class="page-link" ng-click="next()">Next</button>
        </li>
      </ul>
    </nav>
  </div>