.total{
    min-height:100%;
   display:flex;
   flex-wrap:wrap;
   padding:20px;
   justify-content: space-evenly;
   text-align: center;
  }
  .flex1{
      height:60px;
      width:100%;
      margin:5px;
  }
 .flex3{
      min-height:60%;
      width:40%;
      margin:5px;
      padding:5px;
  }
 
  .icon-flex {
    min-width: 10%;
    display: flex;
    margin: 2px;
    justify-content: space-evenly;
  }

.feed-container {
    min-height: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:15%;
    width:70%;
    justify-content: center;
    
  }
.icon-flex > button{
    border: white;
    background-color: white;
}
  i {
    margin: 2px;
    pointer-events: none;
  }
  .data-item{
    
    display: flex;
    margin: 2px;
    flex-direction: column;
    
    
  }
table,td{
padding:5px;
margin:2px;

}
td{
  text-align: center;
  
}
tr{
  height:100px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:20%;
  bottom:10%;
  left: 60%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}